/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Remove scrollbar buttons (arrows) */
/* ::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
} */

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-arrow-color: transparent;
}

#scrollContainer {
    scrollbar-gutter: stable both-edges;
}

* {
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100vw;
  height: 100dvh;
}

.augment-0,
.augment-1,
.augment-2 {
  position: relative;
  z-index: 10;
  /* border-width: 4px;
  border-style: solid;
  border-radius: 19px;
  border-image-slice: 1;
  box-sizing: content-box;
  background-origin: border-box;
  background-clip: content-box, border-box; */
}

.augment-0::after,
.augment-1::after,
.augment-2::after {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -0px;
  left: -4px;
  right: -4px;
  border-radius: 19px;
  padding: 4px 4px 4px 4px;
  box-sizing: content-box;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .augment-0::after,
  .augment-1::after,
  .augment-2::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -0px;
    left: -2px;
    right: -2px;
    border-radius: 17px;
    padding: 2px;
    box-sizing: content-box;
    z-index: -1;
  }
}

.augment-0::after {
  background-image: linear-gradient(to bottom, #A5BABD, #4C5657);
}

.augment-1::after {
  background-image: linear-gradient(to bottom, #997E5D, #EDDAB8);
}

.augment-2::after {
  background-image: linear-gradient(to bottom, #E78FFF, #E7DFFF, #AA9CFF, #FFD84E );
}